services:
  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=akasa
      - MYSQL_DATABASE=akasa
      - MYSQL_USER=akasa
      - MYSQL_PASSWORD=akasa
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20
  adminer:
    image: adminer
    ports:
      - "8080:8080"
